<div th:fragment = "header">
        <div class="container">
            <h1>Internet Shop</h1>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Cart (0)</a></li>
                </ul>
            </nav>
            <div id = "profile">
                <form action="/redirect/log_in" method="get">
                    <button id="log_in">Log in</button>
                </form>
            <a>/</a>
                <form action="/redirect/sign_up" method="get">
                    <button id="sign_up">Sign up</button>
                </form>
            </div>
        </div>
</div>