<div th:fragment = "header">
        <div class="container">
            <h1>Internet Shop</h1>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="#">Cart (0)</a></li>
                </ul>
            </nav>
            <div id = "profile">
                <form action="/redirect/log_in" method="get"th:if="${session.user == null}">
                    <button id="log_in">Log in</button>
                </form>
                <a th:if="${session.user == null}">/</a>
                <form action="/redirect/sign_up" method="get" th:if="${session.user == null}">
                    <button id="sign_up">Sign up</button>
                </form>
                <div class="dropdown" th:if="${session.user != null}">
                    <a class="dropbtn" th:text="${session.user.email}"></a>
                    <div class="dropdown-content">
                        <a class = "dropdown-content-element" href="/profile">Edit Profile</a>
                        <a class = "dropdown-content-element" id = "log-out-btn" href="/logout">Log out</a>
                    </div>
                </div>
        </div>
</div>