<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">Default Title</title>
    <link rel="stylesheet" th:href="@{/mainpage.css}">
</head>
<body>
<header th:insert="header::header"></header>
<main>
    <h2 th:text="${title}">Featured Products</h2>
    <div class="container" th:each="el : ${goods}">
        <div class="product-grid">
            <img class="product-image" th:src="@{/photos/} + ${el.photo}" alt="" th:alt="${el.name}">
            <div class="product-details">
                <h3 th:text="${el.name}"></h3>
                <p th:text="${el.price}+ ' $'"></p>
                <button>Add to Cart</button>
            </div>
        </div>
    </div>
</main>

<footer>
    <div class="container">
        <p>&copy; 2024 Internet Shop. All rights reserved.</p>
    </div>
</footer>
</body>
</html>
